/* Global font properties and background colour   */
html {
    font-size: 10px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
    background-color: #fffff8;
}

/*  General margin and padding for <body> */
body {
    margin: 0 auto;
    padding: 0;
}

/*  Remove default styling for links  */
a:link, a:visited {
    text-decoration: none;
    color: white;
}

/*  Remove default styling for links  */
a:active {
    text-decoration: none;
}





/*   **************   INDEX PAGE STYLING RULES   ***************   */

/*  Index page left pane  */
#leftBox {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 100vh;
}

/*  'Hero image' for index page */
#indexImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Index page right pane   */
#rightBox {
    position: relative;
    top: 0;
    left: 40vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 60vw;
    height: 100vh;
    overflow: auto;
}

/* Single pane set-up*/
#singleBox {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

/* define general properties class for all ids in the index page right pane
   which will then allow the position of each id (which follow below) to be set
   from the top of the right pane */

.insideRightBox {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 4vw;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

#indexMainHeading {
    font-size: 4vw;
    font-family: 'Playfair Display', serif;
    top: 15%;
}

#projectsMainHeading {
    font-size: 4vw;
    font-family: 'Playfair Display', serif;
    top: 5%;
}

#indexSubHeading {
    color: #1a7a21;
    font-size: 1.25vw;
    font-family: 'Old Standard TT', serif;
    top: 27%;
}

#projectsSubHeading {
    color: #1a7a21;
    font-size: 1.25vw;
    font-family: 'Old Standard TT', serif;
    top: 15%;
    line-height: 0.5vh;
}

#indexAboutMe {
    font-size: 1.25vw;
    text-align: justify;
    line-height: 1.4;
    top: 40%;
}

#indexNavBar {
    padding: 0 3vw;
    top: 70%;
}

#projectsNavBar {
    padding: 0 3vw;
    top: 25%;
}


/*  Horizontal list ("nav bar effect")  */
ul.noBullet {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2vw;
    text-decoration: none;
    letter-spacing: 0.1vw;
    font-variant: small-caps;
}

#projectsNoBullet {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #fffff8;
    font-size: 1.3vw;
    text-decoration: none;
    letter-spacing: 0.1vw;
    font-variant: small-caps;
    line-height: 0.5vw;
}

/*  Member of Horizontal list ("nav bar effect")  */
li.navBarMember {
    margin: 1vw;
    height: inherit;
    display: inline-block;
    background-color: #af0f0f;
    border-radius: 2.5vw;
    padding: 0;
    position: relative;
}

/*  Hovered-over "nav bar" item */
#projectsNavBar:hover li.navBarMember:hover {
    transition: all 1s linear;
    background-color: #720505;
}

/*  Unhovered "nav bar" item */
#projectsNavBar:hover li.navBarMember{
    transition: all 1s linear;
    background-color: #edbdbd;

}



/* PROJECTS PAGE */
/* Format the dropdown content box. Default is not displayed (until it
   is hovered over) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffff8;
    line-height: 0.25vh;
    width: 19vw;
    z-index: 1;
}

/* Format the text content in the dropdown content box */
.dropdown-content a {
    font-variant: normal;
    color: #af0f0f;
    margin: 0.5vh 0;
    padding: 2vh 2vw;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    display: block;
    border-radius: 2vw;
    border: 0.1vw groove #af0f0f;
}

/* Format the text content in the dropdown content box when it is
   hovered over */
.dropdown-content a:hover {
    background-color: #cccccc;
}

/* Shows dropdown content when the dropdown class is hovered over */
.navBarMember:hover .dropdown-content {
    display: block;
}







#indexSocialMediaLogos {
    height: auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    top: 90%;

}

/*  Members of SocialMediaLogos  */
.socialLogo {
    width: 2.5vw;
    height: 2.5vw;
    padding: 0 0.75vw;
    object-fit: fill;
}



/*  Media query for laptop screens and tablets/mobiles in landscape orientation  */
@media screen and (min-aspect-ratio: 1/1) {
    
    li.navBarMember {
        width: 20%;
    }
}

/*  Media query for mobiles and tablets in portrait orientation  */
@media screen and (max-aspect-ratio: 99/100) {
    
    .insideRightBox {
        padding: 0 8vw;
    }

    li.navBarMember {
        width: 40%;
    }

    #leftBox {
        width: 100vw;
        height: 30vh;
    }

    #rightBox {
        top: 30vh;
        left: 0;
        width: 100vw;
        height: 70vh;
    }

    #indexMainHeading {
        font-size: 9vw;
        top: 8%;
    }

    #indexSubHeading {
        font-size: 2.75vw;
        top: 20%;
    }

    #indexAboutMe {
        font-size: 3.25vw;
        top: 30%;
    }

    #indexNavBar {
        top: 65%;
    }

    ul.noBullet {
        font-size: 4vw;
    }

    .socialLogo {
        width: 6vw;
        height: 6vw;
        padding: 0 1.5vw;
    }



    /* Media query for "squarer" handhelds (e.g. iPads) in portrait orientation */
    @media screen and (min-aspect-ratio: 70/100) {
            
            #indexMainHeading {
                top: 6%;
            }

            #indexAboutMe {
                font-size: 2.5vw;
            }

            #indexNavBar {
                top: 60%;
            }

            ul.noBullet {
                font-size: 3vw;
            }
    }







/*   **************   PROJECTS PAGE STYLING RULES (where different to Index page)  ***************   */









