html {
  background-color: #e4ffe0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.page {
  margin: 5%;
  overflow-y: auto;
}

.pageTitle {
  font-size: 1.25rem;
  text-align: center;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.gridContainer {
  display: grid;
  opacity: 1;
  transition: opacity 0.5s linear;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: 170px;
  grid-gap: 15px;
}

.grid {
  display: grid;
  border-radius: 2%;
  background-color: white;
  grid-gap: 5px;
  border: 1px solid #106d00;
}

.card {
  grid-template-columns: repeat(10, 30px) repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  transition: background-color 0.5s linear;
}

.card:hover {
  background-color: #439135;
}

.card * {
  align-self: center;
}

.photo {
  grid-row: 2 / 5;
  grid-column: 2 / 5;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name {
  grid-row: 2 / 3;
  grid-column: 6 / 10;
  font-weight: bold;
}

.email {
  grid-row: 3 / 4;
  grid-column: 6 / 10;
}

.location {
  grid-row: 4 / 5;
  grid-column: 6 / 10;
}

.email, .location {
  font-size: 0.67rem;
}

.disabledDIV {
  pointer-events: none;
  opacity: 0.25;
}


/* styling for the modal view */
.modalView {
  display: none;
  z-index: 1;
  position: fixed;
  left: 35%;
  top: 15%;
  width: 30%;
  height: 50%;
  grid-template-columns: 1fr repeat(10, 8%) 1fr;
  grid-template-rows: repeat(16, 5%) 1fr;
  justify-items: center;
  align-items: center;
  -webkit-align-items: center;
}

.photoModal {
  grid-row: 3 / 7;
  grid-column: 5 / 9;
}

.nameModal {
  grid-row: 8 / 9;
  grid-column: 2 / 12;
  font-weight: bold;
  font-size: 1.5rem;
}

.emailModal {
  grid-row: 9 / 10;
  grid-column: 2 / 12;
}

.locationModal {
  grid-row: 10 / 11;
  grid-column: 2 / 12;
}

.phoneModal {
  grid-row: 12 / 13;
  grid-column: 2 / 12;
}

.addressModal {
  grid-row: 13 / 14;
  grid-column: 2 / 12;
}

.birthdayModal {
  grid-row: 14 / 15;
  grid-column: 2 / 12;
}

.closeButton {
  grid-row: 2 / 3;
  grid-column: 11 / 12;
  font-size: 2rem;
  transition: transform 1s;
}

.closeButton:hover {
  transform: scale(2);
  cursor: pointer;
}


/* media query for very narrow screens
e.g. mobiles in portrait */
@media screen and (max-width: 750px) {

  .modalView {
    left: 10%;
    width: 80%
  }

  .page {
    margin: 0%;
  }

  .email, emailModal {
    font-size: 0.5rem;
  }
}


/* media query for narrow screens
e.g. tablets in portrait */
@media screen and (min-width: 751px) and (max-width: 1250px) {

  .modalView {
    left: 15%;
    width: 70%
  }

  .closeButton {
    justify-self: end;
  }

  .nameModal {
    font-size: 1.5rem;
  }

}

/* media query for shallow screens
e.g.  mobiles in landscape */
@media screen and (max-height: 700px) {

  .modalView {
    top: 5%;
    height: 90%;
  }
}




